CompileFlags:
  CompilationDatabase: .
  Add: [-isystem, C:/msys64/mingw64/include/c++/15.2.0, -isystem, C:/msys64/mingw64/include/c++/15.2.0/x86_64-w64-mingw32, -isystem, C:/msys64/mingw64/include/c++/15.2.0/backward, -isystem, C:/msys64/mingw64/lib/gcc/x86_64-w64-mingw32/15.2.0/include, -isystem, C:/msys64/mingw64/include, -isystem, C:/Qt/6.10.2/mingw_64/include]
